# Each line is a file pattern followed by one or more owners.
# These owners will be requested for review when someone opens a pull
# request modifying matching files.
# See: https://docs.github.com/articles/about-codeowners

* @Vaporjawn
